/* COLOURS */

:root {
  --main-bg-color: #FFFFFF;
  --secondary-bg-color: #fafafa;
  --main-text-color: #313131;
  --accent-color: #978f7d;
}

html {
  margin: 0;
  padding: 0;
}

/* TEXT */

/* LAYOUT */

@media (min-width: 768px) {
  #quarto-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1250px;
  }

  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }
}

blockquote, .blockquote {
  color: var(--main-text-color);
  font-size: 0.9em;
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
  color: var(--main-text-color);
  font-family: 'Spectral', serif;
}

/* LINKS */

a {
  color: var(--accent-color);
}

a:hover {
  color: var(--main-text-color);
}


/* BUTTONS */

.btn-primary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.btn-primary:hover {
    background-color: var(--main-text-color);
    border-color: var(--main-text-color);
}

/* FOOTER */

.footer {
  background-color: var(--main-bg-color);

}



/* NAVBAR */

.navbar {
  padding: 25px 25px;
  position: relative;
  background-color: var(--main-bg-color);
}

.navbar-logo {
  max-height: 50px;
}

/* POST LISTING */

.listing-category {
  font-family: 'Zain', sans-serif;
  font-size: 0.8em !important;
}

.listing-title {
  font-size: 1.2em !important;
}

.listing-description {
  font-size: 0.9em !important;
}

.listing-author {
  font-family: 'Zain', sans-serif;
  font-size: 1.3em !important;
}

.listing-date {
  font-family: 'Zain', sans-serif;
  font-size: 1.0em !important;
}


/* POST TITLE BLOCK IN ACTUAL POST */

.description {
  font-family: 'Zain', sans-serif;
  font-style: italic;
  font-size: 1.4em !important;
}

.quarto-category {
  font-family: 'Zain', sans-serif;
  font-size: 1.0em !important;
}

.quarto-title-meta-contents {
  font-family: 'Zain', sans-serif;
  font-size: 1.1em !important;
}

.quarto-title-meta-heading {
  font-family: 'Zain', sans-serif;
  font-size: 1.1em !important;
}

